JWT_SECRET=secret # change me
JWT_ISSUER=dashboard # no need to change
LOG_DIR=/var/www/html/server-dashboard/logs # no need to change
SERVICES=httpd,apache2,docker,cron,ssh,nginx # adapt to your services
ADMIN_USERNAME=admin # no need to change
ADMIN_PASSWORD=$2y$10$1 # change me

