[Unit]
Description=WebSocket Server

[Service]
ExecStart=/usr/bin/php {{APP_DIR}}/system/websocket-server.php {{APP_DIR}}
Restart=always
User=www-data
Group=www-data
Environment=PATH=/usr/bin:/usr/local/bin
Environment=PHP_HOME=/usr/local/bin/php
WorkingDirectory={{APP_DIR}}/public/api

[Install]
WantedBy=multi-user.target